<form name="cart" action="/" method="POST">
<article class="page" id="cart">
<h1>{{ voc.cart }}</h1>
{% if cart["items"] | length >= 1 %}

<h2 class="hide">{{ voc.products }}</h2>
<table>
<thead>
    <tr>
        <th class="name">{{ voc.product_group }}</th>
        <th class="name">{{ voc.product }}</th>
        <th class="amount">{{ voc.amount }}</th>
        <th class="price">{{ voc.price_1_net }}</th>
        <th class="price">{{ voc.price_sum_net }}</th>
    </tr>
</thead>

<tbody class="products">
{% for item in cart["items"] %}

    {% if item["type"] == "product_group" and "items" in item %}
        {% set item_set = item %}
        {% set items = item_set["items"] %}
        {% set amount_overall = items | length %}

        {% for item in items %}
        <tr class="product">
            {% if loop.index == 1 %}
                <td class="name" rowspan="{{ amount_overall }}">{{ item_set.name }}</td>
            {% endif %}
            <td class="name">
                {{ item.name }}
            </td>
            <td class="amount">{{ item.amount }}</td>
            <td class="price">{{ item.price_1_net | round }}</td>
            <td class="price">{{ item.price_sum_net | round }}</td>
        </tr>
        {% endfor %}
    {% endif %}

{% endfor %}
</tbody>
</table>

{#

#}
<summary>
<h2>{{ voc.summary }}</h2>
<table>
<thead>
    <tr>
        <th>{{ voc.cost_type }}</th>
        <th>{{ voc.value }}</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>{{ voc.price_sub_total }}</td>
        <td class="price">{{ cart.price_sub_total }}</td>
    </tr>
    <tr>
        <td>{{ voc.price_sum_net_total }}</td>
        <td class="price">{{ cart.price_sum_net_total }}</td>
    </tr>
    <tr>
        <td>{{ voc.price_shipping }}</td>
        <td class="price">{{ cart.price_shipping }}</td>
    </tr>
    {% for tax in cart.price_taxes %}
    <tr>
        <td>{{ voc.plus_tax }} {{ tax.per_100 }}% {{ tax.name }}</td>
        <td class="price">{{ tax.sum }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td><b>{{ voc.price_sum_total }}</b></td>
        <td class="price"><b>{{ cart.price_sum_total }}</b></td>
    </tr>
</tbody>
</table>

</summary>

<button id="intent[]">{{ voc.begin_order }}</button>
{% endif %}

</article>
</form>