<!DOCTYPE html>
<html lang="{{ locale_code }}">
<head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <meta name="color-scheme" content="dark">
    <link rel="stylesheet" href="rb.css">
    <script src="rb.js" type="text/javascript"></script>
</head>
<body>

{% if product_sets | length >= 1 %}
    {% for product_set in product_sets %}
        {% if product_set.slug == "random_box" %}
            {% set random_box = product_set %}
            {% include "create_random_box.html" %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if cart["items"] | length >= 1 %}
    {% include "cart.html" %}
    {% if intent == "order" %}
        {% include "order.html" %}
    {% endif %}
{% endif %}


</body>
</html>