<form id="order" name="order" action="/" method="POST">
<article class="page side">
    <h1>{{ voc.order | capitalize }}</h1>
    <button
        type="submit"
        name="intent"
        value="order"
    >
    {{ voc.finish_order }}
    </button>
</article>
</form>