{% extends "base.html" %}
{% block title %}{{ voc.bar }}{% endblock title %}
{% block body %}
<form method="POST" action="/bar">

<label>
    {{ voc.language }}
    <input type="text" name="lang">
</label>

<label>
    {{ voc.name }}
    <input type="text" name="name" required>
</label>
<label>
    {{ voc.short_description }}
    <input type="text" size="140" name="short_description">
</label>
<label>
    {{ voc.long_description }}
    <textarea name="long_description">{{ bar.name }}</textarea>
</label>

{% for aspect in aspects %}
<label>
    <input type="file" name="image_{{ aspect.aspect }}">
</label>
{% endfor %}

<input name="claims[]">

<input name="ingredients[]">

<input name="nutritional_values[]">

<input name="profile_values[]">

{% if product_groups | length >= 1 %}
<select name="product_groups[]" multiple>
    {% for product_group in product_groups %}
    <option value="{{ product_group.slug }}">{{ product_group.name }}</option>
    {% endfor %}
</select>
{% endif %}

{% if prices_regions | length >= 1 %}
<input name="prices_regions[]">
{% endif %}

</form>
{% endblock body %}
